# .env.development
API_BASE_URL=http://localhost:1337/api
STRAPI_BASE_URL=http://localhost:1337

# .env.production
API_BASE_URL=http://your-production-url.com/api
STRAPI_BASE_URL=http://your-production-url.com
REQUIRE_HTTPS=true
